:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #f6f7fb;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  background-color: #f6f7fb;
}

#root {
  flex: 1;
  min-height: 0;
  min-width: 0;
}
